:root {
    --background: #fff;
    --vlg: #fafafa;
    --lg: #f6f6f6;
    --mg: #eee;
    --dg: #d3d3d3;
    --vdg: #ababab;
    --sub: #878787;
    --title: #3C3C3C;
    --primaryColor: #008EF6;
    --danger: #E04800;
    --darkPrimaryColor: #0080DE;
    --primaryColorFaint: #008EF620;
}

html {
    margin: 0;
    padding: 0;
    font-family: wh-med;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: wh-med;
    background-color: var(--background);
}

body::-webkit-scrollbar {
    display: none;
}

body * {
    transition: 0.3s ease-in-out;
}

a {
    text-decoration: none;
}

* {
    box-sizing: unset;
}
input, textarea {
    border: none;
    outline: none;
    border: 2.5px solid var(--mg);
    padding: 5px 15px;
    width: calc(100% - 30px);
    font-size: 17px;
    font-family: wh-sbold;
    color: var(--title);
    letter-spacing: 0.3px;
    border-radius: 8px;
    height: 35px;
    cursor: pointer;
    background-color: var(--vlg);
    /* box-sizing: border-box; */
}

textarea {
    padding: 15px !important;
}

input::placeholder, textarea::placeholder {
    font-family: wh-sbold;
    font-size: 17px;
    color: var(--vdg);
}

input:focus , textarea:focus{
    border: 2.5px solid var(--primaryColor);
}

@font-face {
    font-family: wh-xbold;
    src: url('../fonts/Wavehaus-158ExtraBold.otf');
}
@font-face {
    font-family: wh-bold;
    src: url('../fonts/Wavehaus-128Bold.otf');
}
@font-face {
    font-family: wh-sbold;
    src: url('../fonts/Wavehaus-95SemiBold.otf');
}
@font-face {
    font-family: wh-med;
    src: url('../fonts/Wavehaus-66Book.otf');
}
@font-face {
    font-family: gs-bold;
    src: url('../fonts/GandhiSans-Bold.otf');
}
@font-face {
    font-family: gs-med;
    src: url('../fonts/GandhiSans-Regular.otf');
}

.darktheme {
    background-color: darkslategrey !important;
}

.rotate {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.main-container {
    height: 100vh;
    width: calc(100vw - 90px);
    /* flex-grow: 1; */
    margin-left: 90px;
    /* margin-top: 60px; */
    background-color: var(--background);
    z-index: 99;
    border-radius: 0px;
    overflow: hidden;
}

.main-container.isHome {
    margin-top: 0;
    height: 100vh;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.themeColor {
    color: var(--primaryColor);
}

.title {
    color: var(--title);
}

.sub {
    color: var(--sub);
}

.background {
    background-color: var(--background);
}

.backgroundlg {
    background-color: var(--lg);
}

.backgroundmg {
    background-color: var(--mg);
}

.backgrounddg {
    background-color: var(--dg);
}

.backgroundPrimary {
    background-color: #ababab;
}

.backgroundThemeColor {
    background-color: var(--primaryColor);
}

.lg {
    color: var(--lg);
}

.mg {
    color: var(--mg);
}

.dg {
    color: var(--dg);
}

.clickable {
    cursor: pointer;
}

.danger {
    color: var(--danger);
}

.dangerBG {
    background-color: var(--danger);
}

.hover:hover {
    background-color: var(--dg) !important;
}

.hovercolor:hover {
    color: var(--primaryColor);
    transition: 0.1s ease-in-out;
}

.t00 {
    font-family: wh-bold;
    font-size: 50px;
    letter-spacing: 0.0px;
    margin: 0;
    padding: 0;
}

.t0 {
    font-family: wh-bold;
    font-size: 40px;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
}

.t1 {
    font-family: wh-bold;
    font-size: 32px;
    letter-spacing: 0.1px;
    margin: 0;
    padding: 0;
}

.t2 {
    font-family: wh-bold;
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}

.t3 {
    font-family: wh-bold;
    font-size: 22px;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
}

.t4 {
    font-family: wh-bold;
    font-size: 19px;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
}


.t445 {
    font-family: wh-bold;
    font-size: 16.5px;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
}

.t45 {
    font-family: wh-sbold;
    font-size: 15px;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
}

.t5 {
    font-family: wh-sbold;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0px 0;
    padding: 0;
    line-height: 18px;
}

.t55 {
    font-family: wh-sbold;
    font-size: 12.5px;
    letter-spacing: 0.5px;
    margin: 0px 0;
    padding: 0;
    line-height: 18px;
}

.t6 {
    font-family: wh-med;
    font-size: 12.5px;
    letter-spacing: 0.8px;
    margin: 0px 0;
    padding: 0;
    line-height: 18px;
}


.t7 {
    font-family: wh-med;
    font-size: 11px;
    letter-spacing: 0.5px;
    margin: 0px 0;
    padding: 0;
    line-height: 18px;
}

.tcgrey {
   color: #969696; 
}

.iconbutton {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
}
.iconbutton:hover {
    background-color: var(--lg);
}

.text-center {
    text-align: center;
}

.button {
    min-width: 20px;
    height: 35px;
    border-radius: 7px;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    cursor: pointer;
}
.button:hover {
    background-color: var(--darkPrimaryColor);
}

.secondary {
    background-color: inherit !important;
}
.secondary-color {
    color: var(--primaryColor);
}

.faintbg {
    background-color: #008EF614 !important;
    border-color: #008EF600;
    letter-spacing: 0.5px;
}

.switch-wrapper {
    position: relative;
  }
   
  .switch-wrapper > div {
    position: absolute;
  }