.project-top-block {
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    border-bottom: 2px solid #eee;
}

.project-top-block-main {
    width: 100%;
    height: 110px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-pie {
    width: 90px;
    height: 90px;
    padding-top: 20px;
}

/* .CircularProgressbar .CircularProgressbar-path {
    stroke: url(#idCSS);
} */

.project-title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.project-main {
    width: calc(100% - 20px);
    padding: 0 0px 0 20px;
    height: 380px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-discussion-block {
    width: 40%;
    background-color: inherit;
    height: calc(100vh - 150px - 60px);
    transition: .3s ease-in-out;
    background-color: #fff;
    border-left: 2px solid #eee;
}

.isClosed {
    width: 0;
    transition: 0.3s ease-in-out;
}

.project-main-content {
    width: calc(100% - 40px);
    margin-right: 20px;
    background-color: darkorange;
    height: 100%;
    transition: .3s ease-in-out;
}