.sidebar-container {
    width: 60px;
    height: calc(100vh - 40px);
    background-color: red;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;
    padding: 20px 15px 20px 15px;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-container {
    width: calc(100% - 40px);
    height: 60px;
    background-color: red;
    z-index: 99;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
}


.sidebar-container:hover {
    width: 280px;
    transition: 0.3s ease-in-out;
}